<!doctype html>
<html lang='en' ng-app="TrainStationApp">
<head>
    <meta charset='utf-8'/>
    <title>{{'TITLE' | translate}}</title>
    <link rel='stylesheet' type='text/css' href='css/main.css' />
</head>
<body>

<div class='wrapper'>
  <div ng-controller="Ctrl" class="ng-scope">
    <button class="btn ng-scope btn-nl" ng-click="changeLanguage('nl')"></button>
    <button class="btn ng-scope btn-en" ng-click="changeLanguage('en')"></button>
  </div>
    <section class='search_section' ng-controller="StationController">
        <header>
            <input  ng-model="$storage.localSearchQuery"
                    ng-change="updateLocalStorage($storage.localSearchQuery); search($storage.localSearchQuery, searchType)">

            <select ng-model="searchType" ng-change="search($storage.localSearchQuery, searchType)">
                <option value=''>-- TYPE --</option>
                <option value='stoptreinstation'>Stoptrein station</option>
                <option value='knooppuntintercitystation'>Knoop punt intercity station</option>
                <option value='intercitystation'>Intercity station</option>
                <option value='knooppuntstoptreinstation'>Knoop punt stoptrein station</option>
                <option value='megastation'>Mega station</option>
                <option value='sneltreinstation'>Sneltrein station</option>
                <option value='knooppuntsneltreinstation'>Knoop punt sneltrein station</option>
                <option value='facultatiefstation'>Facultatief station</option>
            </select>

            <span>
                {{ $storage.sessionHistory.query }} @
                {{ $storage.sessionHistory.date | date:'d MMM yyyy HH:mm:ss'}}
            </span>
        </header>
        <div class='train_stations_list'>
            <div class='data-row animated fadeIn'
                 ng-click="selectStation(station)"
                 ng-repeat="station in stations | filter:{'name': $storage.localSearchQuery, 'type': searchType}">
                 {{ station.name }}
            </div>
        </div>
        <div class="animate maps" id="maps" ng-show="selectedStation">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker coords="marker.coords" idkey="marker.id">
        </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
        <div class="menu animate" ng-show="selectedStation">

            <div class="x-button animate" ng-show="selectedStation"
             ng-click="selectedStation=''">terug</div>
            <h4>
                <u>{{selectedStation.name}}</u>
                ({{selectedStation.type}})
            </h4>
            <p>
                {{selectedStation.geoLat}} / {{selectedStation.geoLong}}
                <br>
                <br>
                {{selectedStation.code}}: {{selectedStation.uic}}
                <br>
                Middel: {{selectedStation.middleName}}
                <br>
                Kort: {{selectedStation.shortName}}
                <br>
                rdt_url: {{selectedStation.rdtURL}}
            </p>
        </div>

    </section>
</div>

<script src='lib/angular.js'></script>
<script src='lib/angular-animate.js'></script>
<script type="text/javascript" src="lib/lodash.min.js"></script>
<script src='http://maps.googleapis.com/maps/api/js?sensor=false'></script>
<script type="text/javascript" src="lib/angular-google-maps.js"></script>
<script src='lib/ngStorage.js'></script>
<script type="text/javascript" src="lib/angular-translate.js"></script>
<script src='app/app.js'></script>
<script src="app/config/TranslationProvider.js"></script>
<script src='app/services/StationService.js'></script>
<script src='app/controllers/TrainStationController.js'></script>
</body>
</html>
