.wrapper{
    position:relative;
    width:700px;
    margin:0 auto;

    .search_section{
        width:100%;
        box-shadow:0px 1px 2px #999;

        header{
            padding:15px;
            background:#ffcf13;
            color:#fff;

            input, select{
                border:0;
                padding:5px 10px;
            }
        }
        .train_stations_list{
            height:375px;
            overflow-y:scroll;
            overflow-x:hidden;

            .data-row{
                background:#f0f0f0;
                color:#000;
                width:100%;
                padding:20px;
                margin:0;

                &:nth-child(2n+2){
                    background:#fff;
                }

                &:hover{
                    cursor:pointer;
                    background:#ffcf13;
                    color:#fff;
                }
            }
        }
        .menu{
            position: absolute;
            bottom: 135px;
            left: 20px;
            background: #fff;
            border: 4px solid #f3ce43;
            border-radius: 10px;
            height: 130px;
            width: 600px;
            padding:10px;

            h4{
              margin-top: 0px;
            }

            p{
              margin-top: -15px;
            }

            .x-button {
                position: absolute;
                right: 20px;
                background: #f3ce43;
                color: #fff;
                font-weight: bold;
                text-align: center;
                height: 35px;
                width: 60px;
                padding:10px;
                z-index: 99999;
                padding-top: auto;
                cursor: pointer;

                .ng-hide {
                    opacity: 0;
                    margin-bottom:-200px;
                }
            }
        }
    }
}

